
.advantages__list{
    .clear();
}

.advantages__item{
    .clear();
}

.advantages__item-text{

  background-color: @background-blue;
}

.advantages__title{
  .title-font();
  color: @basic-white;
}
.advantages__number{
  .text-font();
  color: @basic-white;

}
.advantages__text{
  .text-font();
  color: @basic-white;

}
