.advantages__row {
  outline: 3px solid rgba(255, 0, 0, 0.7);
}

.advantages__item--text,
.advantages__item--img,
.recommendation {
  outline-offset: -2px;
  outline: 2px solid rgba(0, 255, 0, 0.7);
}

.advantages__list {
  .clear;
}

.advantages__title,
.recommendation__title {
  font-size: 18px;
  line-height: 26px;
}

.advantages__number,
.advantages__text,
.recommendation__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__item--grey {
  background-color: @background-grey;

  p {
    color: @basic-grey;
  }
}

.advantages__item--white {
  color: @basic-white;
  background-color: @background-blue;
}

.recommendation__text {
  color: @basic-grey;
}


@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 90%;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
  }

  .advantages__row {
    display: flex;
    justify-content: space-between;
  }

  .advantages__row--reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
