
.advantages__list {
  .clear;
}

.advantages__item--white {
  color: @basic-white;
  background-color: @background-blue;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0px;

}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
}

.advantages__item--grey {
  background-color: @background-grey;
  p {
    color: @basic-grey;
  }
}

.recommendation__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.recommendation__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: @basic-grey;
}
