.billboard {
  line-height: 26px;
  color: @basic-black;
}

.billboard__wrapper {
  margin: 0 auto;
//  height: 615px;
  width: var(--mobile-billboard-width);

  @media (min-width: @tablet-width) {
    width: var(--tablet-billboard-width);
    }
}

.billboard__title {
  font-size: 18px;
  padding: var(--mobile-billboard-padding);
}

.billboard__text {
  font-weight: 400;
  font-size: 14px;
  color: @basic-grey;
}
