.billboard__title{
  .pt-sans__bold();
  font-size: 18px;
  line-height: 26px;
  color: @basic-black;
  text-transform: uppercase;
}
.billboard__text{
  .pt-sans__regular();
  font-size: 14px;
  line-height: 26px;
  color: @basic-grey;
  text-transform: uppercase;
}
