.billboard {
  line-height: 26px;
  color: @basic-black;
}

.billboard__wrapper {
  margin: 0 auto;
  // width: 320px;
  //
  // @media (min-width: @tablet-width) {
  //   width: 768px;
  // }
}

.billboard__title {
  font-size: 18px;
  padding: 25px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.billboard__text {
  font-weight: 400;
  font-size: 14px;
  color: @basic-grey;
  padding: 25px;
}

.billboard__image {
  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }
}
