.visually-hidden {
  /*visibility: hidden;*/
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clear {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/*Viewports*/
@tablet-width: 768px;
@desktop-width: 1240px;
@mobile-width-only: 767px;

/*Fonts*/
.text-normal {
  text-transform: none;
}

.form-title-font {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form-text-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.form-text-bold-font {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.form-label-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.gallery-text-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
