.main-nav__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
