.offer__title,
.offer__button {
  font-size: 21px;
  line-height: 26px;
}

.offer__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @basic-grey;
}

.offer__button {
  color: @basic-white;
  background-color: @background-blue;
  .clear;
}
