
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  min-height: 84px;
  order: 2;
  @media (min-width: @tablet-width) {
  order: 0;
  }

  @media (min-width: @desktop-width) {
  height: 96px;
  order: 0;
  }

}
