.page-footer__hashtag{
  .button-font();
}
.copyright__text{
  font-size: 14px;
  line-height: 26px;
  .pt-sans__regular();
}
.social__list{
  .clear();
}
.social__link{
  background-color: @background-blue;
  color : @basic-white;
  text-decoration: none;
}
