.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.social__list {
  .clear;
}

.social__link {
  background-color: @background-blue;
  color: @basic-white;
  text-decoration: none;
}


.page-footer__wrapper {
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--tablet-width);
  }
  @media (min-width: @desktop-width) {
    width: var(--desktop-width);
  }
}
