.review-form__legend,
.review-form__input,
.review-form__item,
.review-form__textarea,
.review-form__button {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.review-form__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @basic-grey;

}

.review-form__fieldset {
  border-style: none;
  padding-left: 20px;
  width: 280px;
}

.review-form__input {
  font-family: inherit;
  background-color: @background-grey-light;
  border-style: none;
  padding-left: 22px;
  margin: 10px 20px 10px 13px;
  width: 100%;
  box-sizing: border-box;
}

.review-form__item {
  text-transform: none;
}

.review-form__textarea {
  font-family: inherit;
  background-color: @background-grey-light;
  border: none;
  width: 280px;
}

.review-form__button {
  font-family: inherit;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @background-blue;
  border: none;
}
.review-form__wrapper {
//  width: 280px;
}

.review-form__row {
  display: flex;
  align-items: baseline;
  //justify-content: flex-end;
}
