.review__wrapper {
  width: 306px;
  margin: 0 auto;

    @media (min-width: @tablet-width) {
    width: 435px;
  }
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.review__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @basic-grey;
}
