.clear(){
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.site-list{
  .clear();
  .pt-sans__bold();
  font-size: 18px;
  line-height: 40px;
}

.site-list__item a {
  color:@basic-white;
  .clear();
}
