.site-list {
  font-size: 18px;
  line-height: 40px;
  background-color: @background-blue;
  .clear;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 14px;
    line-height: 26px;
    background-color: @basic-white;
  }
}

.site-list__item {
  @media (min-width: @tablet-width) {
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    width: 239px;
  }
}

.site-list__item a {
  position: relative;
  display: block;
  color: @basic-white;
  .clear;

  @media (max-width: @mobile-width-only) {
    padding: 7px  0;
    border-top: 1px solid @border-blue-dark;
    border-bottom: 1px solid @border-blue-light;

    &:hover {
      background-color: @background-blue-dark;
    }
    &:active {
      background-color: @background-blue-darkness;
      color: fade(@basic-white, 30%);
    }
  }

  @media (min-width: @tablet-width) {
    color: @basic-black;
  }
}
