// Начните писать стили здесь
@import "./fonts.less";
@import "./colors.less";
@import "./page.less";
@import "./page-header.less";
@import "./main-nav.less";
@import "./site-list.less";
@import "./billboard.less";
@import "./advantages.less";
@import "./page-footer.less";

.visually-hidden{
  /*visibility: hidden;*/
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.title-font(){
  .pt-sans__bold();
  font-size: 18px;
  line-height: 26px;
}

.text-font(){
  .pt-sans__regular();
  font-size: 14px;
  line-height: 21px;
}
.button-font{
  font-size: 21px;
  line-height: 26px;
  .pt-sans__bold();
}
