.photo-video__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 425px;
  }

}
.video__title {
  font-size: 18px;
  line-height: 26px;
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
